body{
	margin: 0px;
	height: 100%;	
}

img{
	height: 60px;
	width: 180px;
	padding-top: 0px;
	padding-left: 5px;
}
.content_links a{
	font-family:'Share Tech', sans-serif;
	font-size: 40px;
	color: #525A61;
}

#image{
	height: 100%;
    width: 100%;
	position:absolute;
	background-color:#032F41; 
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 40px;
	padding-top: 80px;
	font-family: Roboto;
	font-size: 45px;
	color: white;
	
}



