

#outerWrap {
position: relative;
z-index: 0;
background-color: #00CCFF;
height: 400px;
width: 650px;
}

 

#layer1 {
position: absolute;
z-index: 2;
background-color: #6F0;
height: 250px;
width: 350px;
top: 40px;
left: 40px;
}

 

#layer2 {
position: absolute;
z-index: ;
background-color: #FC0;
height: 250px;
width: 350px;
top: 120px;
left: 260px;
}


html {
  scroll-behavior: smooth;
}

body,html{
	margin: 0px;
	height: 100%;

}

nav img{
	height: 60px;
	width: 180px;
	padding-top: 0px;
	padding-left: 5px; 
}

@media screen and (max-width: 992px) {
  .navbar {
    background-color: #00455C;
  }
  .banner-content{
  	padding-top: 200px;
  }
  
}

@media  (min-width: 992px) {
  .connect-width {
    max-width: 50%;
	}

  
}

@media  (max-width: 442px) {

	.title-img{
  	background: red;
    display: none !important;
	}
  
}

#content-links a {
	color: white;
	font-size: 35px;
}

#content-links a:hover:nth-child(1) {
	color: #e57e10;
}

#content-links a:hover:nth-child(2) {
	color: #3a6ea5;
}

#content-links a:hover:nth-child(3) {
	color: #d53f33;
}

#content-links a:hover:nth-child(4) {
	color: #5fad41;
}

#content-links a:hover:nth-child(5) {
	color: #fffc31;
}


.home-screen{
	background-image: url(images/banner-background.png);
	height: 100%;  
	color: white;
	padding: 15%;
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size:cover;
  	display: flex;
}

.home-content {
	padding-top: 150px;	
  	color: white;
}

.typing {
  border-right: 2px solid white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  animation: 
  	blinkTextCursor 800ms steps(40) infinite normal;
}

@keyframes blinkTextCursor {
      from {
            border-right-color: white;
      }
      to {
            border-right-color: transparent;
      }
}
.container-fluid{
	/**background:url(images/body-background.png); 
	background-size: cover; 
	background-repeat: no-repeat;
	**/ 

}
section{
	padding-top: 100px;
	padding-bottom: 8%;
	font-size: 30px;

}

section h2{
	font-size:45px;
	font-weight:600;	
	padding-bottom: 30px;
}

section p{
	padding-bottom: 20px;
	font-size: 25px;
}
.navbar{
	font-weight: 600;
}

.sub-item img{
	margin-top: 6px;
	float: left;
	padding-left: 20;
	border-radius: 20px;
	width: 80px;
	height: 80px;
}

.sub-item p, .sub-item h4 {
	overflow: hidden;
	text-align: left;

}

.heading{
	font-size:35px;
}

.title-img{
	
	height: 80px;

}



.left{

	
	background-color: white;
}



.skills button{
	border: none;
	background-color:orange;
	margin-left: auto;
    margin-right: auto;

}

.experience{
	background-color: white;
}

.portfolio-content img{
	display: inline-block;
	width:96px; 
	height:96px;
}

.card{
	padding-top: 20px;

}

.card:hover{
	border-top: 20px solid  #00455C;
}

.div1{
	background: white;
}



.btn-square{
	padding: 10px;
	height: 40px;
	width: 40px;
}


.connect-content {
	
	margin-bottom: 100px;
}


