body{
	margin: 0px;
	height: 100%;
	overflow: auto;
}

.content_links a{
	font-family:'Share Tech', sans-serif;
	font-size: 40px;
	color: #525A61;
}
.banner{
	padding: 20px;
}

.banner p{
	font-size: 30px;
}

nav img{
	height: 60px;
	width: 180px;
	padding-top: 0px;
	padding-left: 5px; 
}

.banner{
	background-color: #183642;
	color: white;
}

.typing {
  border-right: 2px solid white;
  white-space: nowrap;
  animation: 
  	blinkTextCursor 800ms steps(40) infinite normal;
}

@keyframes blinkTextCursor {
      from {
            border-right-color: white;
      }
      to {
            border-right-color: transparent;
      }
}

.container {
	scroll-snap-align: start;
	font-size: 30px;
}

.container section{
	padding: 20px;
}

section h2{
	font-size:45px;
	text-decoration-line: underline;
	padding-bottom: 30px;
}

#heading{
	font-size:35px;
}

section p{
	padding-bottom: 20px;
}

section img{
	height: 50px;
	width: 180px;
}



